<div class="jumbotron">
    <div class="container bg-light">
        <h1 class="display-4">Phumzani Restaurant</h1>
        <p class="lead">Delicoius food, fast food and plates!</p>
    </div>
</div>

<div class="container">
    {{#each waiters}}
    <li class=" d-block m-2 text-center" value="{{name}}" name="{{ame}}">
        <strong>{{name}}</strong>
    </li>
    {{/each}}
    <br>
    <a href="./" class="m-4 btn btn-success">Home</a>
</div>
