<div class="jumbotron">
    <div class="container bg-light">
        <h1 class="display-4">Phumzani Restaurant</h1>
        <p class="lead">Delicoius food, fast food and plates!</p>
    </div>
</div>

