<div class="jumbotron">
    <div class="container bg-light">
        <h1 class="display-4">Phumzani Restaurant</h1>
        <p class="lead">Delicoius food, fast food and plates!</p>
    </div>
</div>
<div class="container">
    <div class="d-inline text-center">
        <ul>
            {{#each list}}
            <li class="btn bg-light m-2" value="{{day}}">
                {{day}}
            </li>
            {{/each}}
        </ul>

    </div>
    
    <div class="m-4">
        <img src="../images/waiter.jpeg" class="rounded" alt="Waiter on duty">
    </div>
    <div>
        <h3>About shift</h3>
        <p>We are in need of <strong>three waiters</strong> to work per shift. Please add your name if you will be available so we can know who will be available. Your pressents will be appreciated.</p>

    </div>
    <div class="clearfix text-center">
        <input type="submit" class="m-4 btn btn-success" value="Add waiter">
        <input type="submit" class="m-4 btn btn-primary" value="Update">
        <input type="submit" class="m-4 btn btn-danger" value="Reset">
    </div>
</div>