<div class="jumbotron">
    <div class="container bg-light">
        <h3 class="display-4">Phumzani Restaurant</h3>
        <p class="lead">Delicoius food, fast food and plates!</p>
    </div>
</div>
<div class="container">
    <div class="d-inline text-center">
        <ul>
            {{#each week}}
            <li class="btn bg-light m-2" value="{{day}}">
                {{day}}
            </li>
            {{/each}}
        </ul>

    </div>

    <div class="m-4">
        <img src="../images/waiter.jpeg" style="float:left; margin-right: 10px" class="rounded" alt="Waiter on duty">

        <h4>About shift</h4>
        <p>We are in need of <strong>three waiters</strong> to work per shift. Please add your name if you will be
            available so we can know who will be available. Your presence will be appreciated.</p>

    </div>
    <div class="clearfix text-center" style="margin-top: 11%;">
        <form action="/addWaiter" method="POST">
            <label for="name" style="margin-right: 5px;">Name</label><input type="text" class="ml-1" name="name"><label
                for="day" style="margin-left: 10px; margin-right:5px">Day</label> <span>
                <select name="days" id="days" class="py-1">
                    <option value="Sunday">Sunday</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                </select></span>
            <br>
            <div class="d-flex justify-content-center">
            <input type="submit" class="m-4 btn btn-success" value="Add waiter">
        </form>
        <input type="submit" class="m-4 btn btn-primary" value="Update">
        <input type="submit" class="m-4 btn btn-danger" value="Reset">
        <a href="./available-waiters.handlebars" class="m-4 btn btn-info">Available waiters</a>
    </div>
</div>