<div class="jumbotron">
    <div class="container bg-light">
        <h3 class="display-4">Phumzani's Coffee</h3>
        <p class="lead">Delicoius food, fast food and plates!</p>
    </div>
</div>

<div class="container">
    <div class="m-4">
        <img src="../images/waiter.jpeg" style="float:left; margin-right: 10px" class="rounded" alt="Waiter on duty">

        <h4>About shift</h4>
        <p>We are in need of <strong>three waiters</strong> to work per shift. Please add your name if you will be
            available so we can know who will be available. Your presence will be appreciated.</p>

    </div>

</div>